@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');


*
{
box-sizing: border-box;
padding: 0;
border: 0;
margin: 0;
text-decoration: none;
list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

header{
  background-color: #457B4F;
  box-shadow: 0 4px 2px hsl(0 0% 0% / 0.25);
  position: sticky;
  top: 0;
  margin: 0;
  margin-top: 0;
  padding: 0.5em 1em;
}

header .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 35%;
  margin: -1em 0.75em -0.5em 0;
  padding: 1.5em;
  position: static;
}

.boton-fijo {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  width: 5em;
}

.bienvenido{
  font-size: 2em;
  margin: 0.9em;
}

span{
  color: #457B4F;
}

.fondo-index{
  background-image: url("../imagenes/fondo_index.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main.fondo-index {
  height: 100vh;}
  
body{
    font-family: "League Spartan", sans-serif;
    background-color:#E0E0E0;
    min-height: 100vh;
}

main{
  margin: 0.3em;
}

.imagen-proteina{
  border-radius: 25px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 15px;
}

.imagen-mito{
  border-radius: 25px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 15px;
}

.bordes{
  border-radius: 25px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 15px;
}

.imagen {
  margin: 15px;
  border-radius: 50%;
}

.primera{
  border-radius: 25px;
  margin: 10px;
  overflow: hidden;
}

.bornutri{
  width: 35%;
  border-radius: 1500px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 15px;
  margin-top: 20px;
}

h1{
  font-size: 400%;
  margin: 0px 0px 0px;
  padding: 0.4em;
  padding-top: 80px;
}

h2{
  color: #457B4F;
  font-size: 2em;
  margin: 0.3em;
  padding: 0.3em;
}

h3{
  font-size: 1.5em;
  margin: 0.3em;
  padding: 0.3em;
}

p{
  font-size: 1.6em;
  margin: 1%;
  margin-block-end: 1em;
  padding: 0.3em;
}

.container{
  max-width: 1100px;
  margin: 40px;
}

.back{
  padding: 32px 0;
  background-color: #457B4F;
}

.content{
  min-height: 80px;
  background-color: #457B4F;
}

.menu{
  position: static;
  top: 10px;
  left: 0;
  right: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
}

.menu .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #457B4F;
  display: none;
  opacity: 1;
  transition: none;
}

.menu .navbar ul li{
  position: relative;
  float: right;
  width: 100%;
  padding: 0.5em;
  z-index: 1000;
}

.menu .navbar ul li a {
  font-size: 25px;
  padding: 20px;
  color: #050000;
  display: block;
  font-weight: bold;
  
}
.menu .navbar ul li a:hover{
  color: #ffffff;
  transition: all 0.3s ease-out;
}

#menu{
  display: none;
  padding: 30px;
}

label[for="menu"] img {
  width: 35px;
}

.menu label {
  cursor: pointer;
  display: initial;
}

.back {
  padding: 74px 0;
}

#menu:checked ~ .navbar {
  display: initial;
  }

ul{
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

/*botones*/

.boton-conocenos{
  text-decoration: none;
  background-color: #457B4F;
  color:black;
  border: 2px solid #457B4F;
  border-radius: 5em;
  font-weight: bold;
  padding: .4em 0.8em;
  display: inline-block;
  font-size: 1em;
  margin: 1.7em;
}
.boton-conocenos:hover{
  color: #457B4F;
  background-color:#E0E0E0;
}

.boton-mitos{
  text-decoration: none;
  background-color: #457B4F;
  color:black;
  border: 2px solid #457B4F;
  border-radius: 5em;
  font-weight: bold;
  padding: .4em 1.1em;
  display: inline-block;
  font-size: 0.8em;
  margin: 1px;
}

.boton-sugerencias{
  text-decoration: none;
  background-color: #457B4F;
  color:black;
  border: 3px solid #457B4F;
  border-radius: 5em;
  font-weight: bold;
  padding: .5em 1.1em;
  display: inline-block;
  font-size: 1em;
}

.boton-sugerencias:hover{
  color: #457B4F;
  background-color:#E0E0E0;
}

/*botones*/

/*iconos*/

.beneficios li {
  font-size: 0.9em;
  margin-left: 2.3em;
  position: relative;
  list-style-type: none;
  padding: 0.4em;
}

.beneficios li:before {
  content: '';
  position: absolute;
  left: -2em;
  width: 30px;
  height: 30px;
  background-image: url("../imagenes/icono_hojita.svg.svg");
  background-size: contain;
}
.reciclar li {
  font-size: 0.9em;
  margin-left: 2.3em;
  position: relative;
  list-style-type: none;
  padding: 0.4em;
}
.reciclar li:before {
  content: '';
  position: absolute;
  left: -2em;
  width: 30px;
  height: 30px;
  background-image: url("../imagenes/icono_reciclar.svg.svg");
  background-size: contain;
}
.habitos li {
  margin-left: 2em;
  position: relative;
  list-style-type: none;
  padding: 0.2em;
}
.habitos li:before {
  content: '';
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background-image: url("../imagenes/checklist.svg");
  background-size: contain;
}
.receta li{
  margin-left: 2em;
  position: relative;
  list-style-type: none;
  padding: 0.2em;
}
.receta li:before{
  content: '';
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background-image: url("../imagenes/listado.svg");
  background-size: contain;
}

/*iconos*/

article {
  display: flex;
  flex-direction: column;
}

.nutri{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.nutri figure{
  position: relative;
  height: 250px;
  width: 100%;
  margin: 1em;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  cursor: pointer;
}
.nutri figure img{
  width: 100%;
  transition: all 500ms ease-out;

}
.nutri figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(204 205 204 / 60%);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.nutri figure:hover > .capa{
  opacity: 1;
  visibility: visible;
}
.nutri figure:hover > .capa p{
  margin-top: 20px;
  margin-bottom: 15px;
}
.nutri figure:hover > img{
  transform: scale(1.3);
}

.nutri figure .capa p {
  color:black;
  transition: all 500ms ease-out;
  font-size: 23px;
  line-height: 1.3;
  width: 100%;
  margin: auto;
}

.instagram{
  width: 12%;
}

.profesional {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

/*formulario*/
.opinion-section {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  padding: 1em;
}

label {
  font-size: 1.4em;
  display: block;
  
}

input[type="text"],
textarea {
  width: 100%;
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #457B4F;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "League Spartan", sans-serif;
  font-size: 1em;
  margin: 1em;
}

button[type="submit"]:hover {
  background-color: #457B4F;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; 
}

.full-width-column {
  grid-column: span 1;
}

.nutrientes {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  margin: 10px;
  min-width: 350px; 
  max-width: calc(50% - 20px);
}

.video{
  width: 350px;
  height: 540px;
  padding: 20px;
  margin: 25px;
}


footer {
  background-color: rgb(179, 179, 179); /* Color de fondo gris claro */
  left: 0;
  right: 0; 
  bottom: 0; 
}

/* tablet */

@media(min-width:800px) {

.header{
  padding: o.2em;
}

.main{
  margin: 1.5em;
}

.logo{
  width: 23%;
  margin: -2.5em 3 0 0;
  padding: 2em;
  }

.bienvenido{
    font-size: 3em;
    margin: 1.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

h1{
    font-size: 600%;
    margin: 0px 150px 30px;
    padding: 0.4em;
    padding-top: 110px;
    }
  
h2{
    font-size: 3em;
    margin-top: 0.7em;
  }
  
h3{
    font-size: 2em;
  }
  
p{
    font-size: 2em;
  }  

.menu .navbar ul li a {
    font-size: 45px;
  }

.grid-container {
    grid-template-columns: 0.4fr 0.6fr; 
}

.text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-column {
  display: flex;
  justify-content: center;
  margin: 0.5em;
    
}

.imagen-mito{
  width: 800px;
  display: flex;
  justify-content: center;
}

.imagen-proteina{
  width: 700px;
  display: flex;
  justify-content: flex-end;
}

.imagen {
  margin: -30px;
  border-radius: 50%;
}

.primera{
  width: 45em;
  margin-left: 2em;
}

.bordes{
  margin: 40px;
}

/*botones*/

.boton-conocenos{
font-size: 1.5em;
margin: 143px;
}

.boton-sugerencias{
font-size: 0.7em;
}

button[type="submit"] {
  font-size: 1.5em;
}

.boton-mitos{
  font-size: 0.5em;
}
/*botones*/

/*iconos*/

.beneficios li {
  font-size: 1em;
}

.reciclar li {
  font-size: 1em;
}

.beneficios li:before {
  left: -1.5em;
  width: 40px;
  height: 40px;
}

.reciclar li:before {
  left: -1.5em;
  width: 40px;
  height: 40px;
}

/*iconos*/
  
.profesionales-container {
  display: flex;
  justify-content: space-between; 
}

.profesional {
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px; 
}

.profesional h3 {
  margin-top: 10px; 
}

.bornutri,
.instagram {
  text-align: center;
}

.bornutri img,
.instagram img {
  max-width: 100%; 
  height: auto;
}
ul{
  font-size: 1.8em;
  margin: 0.5em;
}

.item {
  max-width: calc(100% - 20px);
}
.nutrientes{
flex-direction: row;
}

.nutri figure {
height: 300px;
margin-top: -80px;
}

.full-width-column {
  grid-column: span 2;
}

.video{
  width: 750px;
}

}

/* desktop */

@media(min-width:1200px) {

main{
  margin: 3em;
}

.fondo-index{
  margin: 0;
}

header {
  padding: 1.5em; 
}

.logo {
  width: 10%;
  margin: -2em .75em -2em 1em;
  padding: 1.5em;
}

h1 {
  font-size: 500%;
  margin: 0px 0px 0px;
}

.bienvenido {
  font-size: 2em;
  margin: 2em;
  padding: 70px;
  margin-bottom: -100px;
  margin-top: 40px;
}

.bordes{
  width: 300px;
  margin: 10px;
  margin-top: 2em;
}

h2{
  font-size: 2em;
}

.nutrientes h3 {
  font-size: 1.7em;
  position: relative;
  top: auto;
  bottom: 1.5em;
  padding: 1em;
}

p{
  font-size: 1.5em;
  padding: 0.2em;
  margin-block-end: 0;
}

ul {
  font-size: 1.5em;
}

.beneficios li:before{
  left: -1.9em;
}

.reciclar li:before {
  left: -1.9em;
}

.container-bienvenido {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

span{
    padding: 30px;
    margin: 00px;
}

.boton-conocenos {
  padding: .5em 1.5em;
  font-size: 1.2em;
  margin: -18em;
}

.menu .navbar ul li a {
  font-size: 30px;
  padding: 10px;
}

.columna {
  flex: 1;
  padding: 0 50px;
}

.container-quienes {
  display: flex;
  flex-wrap: wrap;
}

.container-alimentacion{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
}
.container-alimentacion-segundo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.primera{
  flex: 1;
  max-width: 500px;
  max-height: 350px;
  margin-top: 3em;
  margin-bottom: 3em
}

.imagen-proteina{
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.imagen-mito{
  width: 400px;
  display: flex;
  justify-content: center;
}

.columna img {
  width: 100%;
  height: auto;
}

.container-beneficios{
  display: flex;
  flex-direction: row;
}

.imagen-container{
  max-width: 500px;
}

.grid-container {
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
}

.text-column {
  grid-column: span 1;
}

.imagen {
  grid-column: span 1;
  margin-left: 1.5em;
}

.texto{
  margin: 90px;
}
.boton-mitos{
  font-size: 0.9em;
}

.full-width-column {
  grid-column: 3;
}

.nutrientes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nutri{
  flex-direction: column;
}

.nutri figure{
  margin: -5em;
}

.item {
  flex: 1;
  font-size: 1em;
  margin: 10px;
  padding-top: 20px;
  min-width: 300px; 
  max-width: calc(50% - 20px)
}

.boton-sugerencias{
    font-size: 27px;
    margin: 30px;
}

.profesionales-container {
  flex-direction: row;
}

.profesional h3 {
  font-size: 1.5em;
  }

.opinion-section {
    flex: 1;
    margin: 0 1em;
    max-width: calc(50% - 2em); 
  }

.video{
  width: 1200px;
}

}